# MongoDB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/musician-website?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=dgbxwityf
CLOUDINARY_API_KEY=282164821573588
CLOUDINARY_API_SECRET=boAp8ONTe04uYzGKq2tmqG-hzwM
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dgbxwityf

# Backend (Express server URL — used in production for external API calls)
BACKEND_URL=http://localhost:4000

# Optional: Strapi CMS
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=your_strapi_token
